<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
            margin: 0%;
            padding: 0;
            box-sizing: border-box;
        }

        html,
        body {
            height: 100%;
            width: 100%;
        }

        #main {
            min-height: 100%;
            width: 100%;
            background-color: rgb(254, 198, 198);
        }

        input {
            position: absolute;
            top: 5%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 8px 48px;
        }

        #moviecard {
            margin-top: 30px;
            margin-left: 12.5%;
            min-height: 0%;
            width: 75%;
            /* background-color: rgb(176, 255, 176); */
        }

        .card {
            position: relative;
            background-color: rgb(150, 255, 150);
            height: 210px;
            margin-top: 40px;
            border-radius: 30px;
            padding-left: 30px;

        }



        .card h5 {
            margin-top: 20px;
        }

        .card .img {
            position: absolute;
            right: 5%;
            top: 40%;
            transform: translate(-50%, -50%);
        }

        .card .img img {
            height: 120px;
            width: 120px;
            object-fit: cover;
        }

        .card p {
            margin-top: 20px;
            width: 65%;
        }

        .card .cardlinks {
            position: absolute;
            right: 7%;
            bottom: 5.5%;
            font-size: 20px;
        }

        #home {
            text-decoration: none;
            color: black;
            font-size: 20px;
            position: absolute;
            top: 5%;
            right: 5%;
        }
    </style>
</head>

<body>
    <div id="main">'
        <input placeholder="Search Movie" type="text" name="" id="">
        <a id="home" href="/">Home</a>
        <div id="moviecard">

        </div>

    </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"
        integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        var input = document.querySelector('input');
        input.addEventListener('input', function () {
            console.log(this.value.length);
            if (this.value.length == 0) {
                var clutter = ''
                document.querySelector('#moviecard').innerHTML = clutter

            } else {

                axios.get(`/search/${this.value}`).then(function (response) {
                    var clutter = ''
                    response.data.forEach(element => {
                        // console.log(element.name);
                        clutter += ` 
    
    
                        <div class="card">
                            <h2> ${element.name}</h2>
                            <div class="img">
                                <img src="${element.img}"
                                    alt="">
                            </div>
                            <h5>imbd rating - :${element.imbd} </h5>
                            <p>${element.details} </p>
                            <div class="cardlinks">
    
                                <a href="/read/${element._id}">Read</a>
    
                                <a href="/delete/${element._id}">Delete</a>
                                <a href="/update/${element._id}">Update</a>
                            </div>
                            </div>
    
        `
                    });
                    document.querySelector('#moviecard').innerHTML = clutter
                })
            }

        })
    </script>
</body>

</html>